ipython
closely[all]
numpy
matplotlib
scipy
sphinx
sphinx-gallery
Pillow
sphinx_rtd_theme
pytest
pytest-cov
codecov
sphinx-argparse
flask
flask-cors
jinja2>=2.10.1
pymongo
more-itertools
dnspython
Werkzeug
termcolor
python-magic
